<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор Футболок</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до Конструктора та магазину футболок по грі Dungeon of Doom!</h1>
        <p>Створіть футболку з улюбленим персонажем! Гоблін,Скелет,Слайм, або ШотГанМен!</p>
        <a href="/shirts" class="btn btn-primary">Почати </a>
    </div>
</body>
</html>
